.currency-block {
    background: #1e90ff;
    width: 400px;
    margin: 0 auto 20px;
    display: grid;
    grid-template-columns: 100px 80px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
}
h3 {
    padding: 20px;
}