body{
    background: url('https://cdn.pixabay.com/photo/2022/03/06/05/30/clouds-7050884_960_720.jpg') no-repeat;
    color: #ddd;
    padding: 50px;
    background-size: 100% 100%;
    height: 100vh;
}
h1{
    color: #eef;
    text-align: center;
}